<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Recommendation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/abtus.css') }}">
</head> 
<body>
    <div class="navigation">
        <img class="logo" src="{{ url_for('static', filename='images/TASTEGY (3).png') }}">
        <nav class="dashboard">
            <a class="tabs" href="/tips">Tips</a> |
            <a class="tabs" href="/about">About Us</a> |
            <a class="tabs" href="/contact">Contact Us</a> 
        </nav>  
        <div class="account">
            <img class="accIcon" src="{{ url_for('static', filename='images/user.png') }}">
            <div class="accTitle">
                <div class="accSub">
                    <input class="accDetail" id="headUid" disabled>
                    <input class="accDetail" id="headMail" disabled>
                    <button class="but"><img class="button" id="logout" src="{{ url_for('static', filename='images/logout.png') }}"></button>
                </div>
                <button class="but" id="login">SIGN IN</button>
            </div>
        </div>
    </div>
    <div class="central">
        <h1>Contact Us</h1>
        <hr>
        <p>Nandakishore Thevarolil Jiju-U2103145@rajagiri.edu.in
        </p>
        <p>Nithin Cimu-U2103161@rajagiri.edu.in
        </p>
        <p>Niranjana S.Nair-U210159@rajagiri.edu.in
        </p>
        <p>Shanker Menon-U2103193@rajagiri.edu.in
        </p>
    </div>
    
    
</body>
<script>
    var username=localStorage.getItem('uid');
    var emailid=localStorage.getItem('mail');
    console.log(username,emailid);
    if(username && emailid){
        document.querySelector(".accTitle").style.height='120px';
        document.querySelector(".accSub").style.display="block";
        document.getElementById("login").style.display="none";
        document.getElementById("headUid").value=username;
        document.getElementById("headMail").value=emailid;
    }
    else{
        document.querySelector(".accTitle").style.height='80px';
        document.querySelector(".accSub").style.display="none";
        document.getElementById("login").style.display="block";
    }

    document.querySelector('.logo').addEventListener('click', function(){
            window.location.href="/";
    })
    document.getElementById("logout").addEventListener("click", function(){
        localStorage.removeItem('name');
        localStorage.removeItem('mail');
        window.location.href="/";
    })
    document.getElementById("login").addEventListener("click", function(){
        window.location.href="/login";
    })
    document.getElementById('search').addEventListener('click', function(){
        if(username && emailid){
            window.location.href="/search";
        }
        else{
            window.location.href="/login";
        }
    })
</script>
</html>