<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tastegy Tips Corner</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tipPage.css') }}">
</head>
<body>
    <div class="navigation">
        <img class="logo" src="{{ url_for('static', filename='images/TASTEGY (3).png') }}">
        <nav class="dashboard">
            <a class="tabs" href="/tips">Tips</a> |
            <a class="tabs" href="/about">About Us</a> |
            <a class="tabs" href="/contact">Contact Us</a> 
        </nav>  
        <div class="account">
            <img class="accIcon" src="{{ url_for('static', filename='images/user.png') }}">
            <div class="accTitle">
                <div class="accSub">
                    <input class="accDetail" id="headUid" disabled>
                    <input class="accDetail" id="headMail" disabled>
                    <button class="but"><img class="button" id="logout" src="{{ url_for('static', filename='images/logout.png') }}"></button>
                </div>
                <button class="but" id="login">SIGN IN</button>
            </div>
        </div>
    </div>
    <div class="container">
        <header>
            <h1>Welcome to Tastegy Tips Corner</h1>
        </header>
        <main>
            <div class="options">
                <button onclick="showTips('Kitchen')">Kitchen Tips</button>
                <button onclick="showTips('Cooking')">Cooking Tips</button>
                <button onclick="showTips('Cutting')">Cutting Tips</button>
            </div>

            <div class="tip-container" id="tipContainer">
                <!-- Tips will be dynamically displayed here -->
            </div>
        </main>
    </div>
<script src="{{ url_for('static', filename='js/tippage.js') }}"></script>
</body>
<script>
    var username=localStorage.getItem('uid');
    var emailid=localStorage.getItem('mail');
    console.log(username,emailid);
    if(username && emailid){
        document.querySelector(".accTitle").style.height='120px';
        document.querySelector(".accSub").style.display="block";
        document.getElementById("login").style.display="none";
        document.getElementById("headUid").value=username;
        document.getElementById("headMail").value=emailid;
    }
    else{
        document.querySelector(".accTitle").style.height='80px';
        document.querySelector(".accSub").style.display="none";
        document.getElementById("login").style.display="block";
    }

    document.querySelector('.logo').addEventListener('click', function(){
            window.location.href="/";
    })
    document.getElementById("logout").addEventListener("click", function(){
        localStorage.removeItem('name');
        localStorage.removeItem('mail');
        window.location.href="/";
    })
    document.getElementById("login").addEventListener("click", function(){
        window.location.href="/login";
    })
    document.getElementById('search').addEventListener('click', function(){
        if(username && emailid){
            window.location.href="/search";
        }
        else{
            window.location.href="/login";
        }
    })
</script>
</html>